<nav-bar page="{{$ctrl.name}}"></nav-bar>

<div class="container">
    <form novalidate name="userLoginForm">
        <h1>Login</h1>
        
            <div class="row form-group">
                <div class="col-sm-1">
                    <div class="form-cell">
                        <label for="loginEmail">Email:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <input type="email" name="email" class="form-control" id="loginEmail" placeholder="Email" ng-model="email" ng-keypress="onInputFiledKeypress($event)" ng-change="loginFailed = false" required autofocus>
                </div>
                <div class="col-sm-8">
                    <div class="form-cell">
                        <span class="alert-danger" style="padding: 3px" ng-show="userLoginForm.email.$error.email">This is not a valid email!</span>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-1">
                    <div class="form-cell">
                        <label for="loginPwd">Password:</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <input type="password" class="form-control" id="loginPwd"placeholder="Password" ng-model="password" ng-keypress="onInputFiledKeypress($event)" ng-change="loginFailed = false" required/>
                </div>
                <div class="col-sm-8"></div>
            </div>

            <div class="row form-group">
                <div class="col-sm-12">
                    <input type="button" class="btn btn-primary" value="Login" ng-click="$ctrl.userLogin()" ng-disabled="!userLoginForm.$valid"/>
                </div>
            </div>
            
            <div class="alert alert-danger" ng-show="loginFailed">
                <strong>Warning!</strong> Login failed!
            </div>
    </form>
</div>