@import './common/common.less';
@import './directives/directives.less';
@import './components/components.less';

html, body {
    overflow-x: hidden;
    width: 100%;
}
&:focus {
    outline: none;
}
a {
    &:focus {
        outline: none;
    }
}