<ispb-header ng-if="$root.showHeader"></ispb-header>
<div class="app">
    <div ui-view ng-cloak></div>
</div>
<ispb-tooltip></ispb-tooltip>
<ispb-modal opened="$root.modal.opened" type="$root.modal.type" size="$root.modal.size" data="$root.modal.data" functions="$root.modal.functions"></ispb-modal>
<ispb-alert></ispb-alert>
<ispb-spinner show-spinner="$root.showSpinner"></ispb-spinner>