.app {
    padding-top: 75px;
    margin-bottom: 50px;
    overflow: hidden;
    div[ui-view] {
        &.ng-enter {
            transition: 0.25s;
            opacity: 0;
        }
        &.ng-enter.ng-enter-active {
            opacity: 1;
        }
        &.ng-leave {
            opacity: 1;
        }
        &.ng-leave.ng-leave-active {
            opacity: 0;
        }
    }
}