.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid;
    border-radius: 4px;
    padding: 40px;
    transform: translate(-50%, -50%);
}

.login-logo {
    display: inline-block;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid;
}