
<div>
    <form novalidate name="userLoginForm">
        <h1>Logout</h1>
            <div class="row form-group">
                <div class="col-sm-12">
                    <input type="button" class="btn btn-primary" value="Conferma Logout" ng-click="$ctrl.userLogout()">
                </div>
            </div>
    </form>


