<div class="cgm-alert-container">
    <script type="text/ng-template" id="alert.html">
        <div ng-transclude></div>
    </script>
    <div uib-alert template-url="alert.html" ng-class="'alert-' + alert.type" ng-repeat="alert in $root.alerts track by $index">
        <span>{{alert.msg}}</span>
        <button type="button" class="close" ng-click="cgmAlert.close($index)">
            <span class="icon icon-close"></span>
        </button>
    </div>
</div>