@black: #000000;
@green: #258900;
@red: #E50000;
@bordeaux: #C83200;
@pink: #F6F0E2;
@brown: #964537;

@orange: #DE9047;
@light_orange: rgba(236, 185, 122, 0.7);

@darkest_gray: #323232;
@dark_gray: #6C6C6C;
@gray: #6F6F6F;
@light_gray: #CCCCCC;
@lightest_gray: #EEEEEE;

@white: #FFFFFF;
@dark_white: #F8F8F8;

@gold: #BF873C;
@light_gold: lighten(@gold, 20%);
@lightest_gold : lighten(@gold, 30%);
@dark_gold: darken(@gold, 10%);

@anthracite: #3B4753;
@light_anthracite: lighten(@anthracite, 20%);
@lightest_anthracite: lighten(@anthracite, 50%);

@water: #66CCCC;
@dark_water: darken(@water, 10%);

/* modal */
@modal_titles: #7A7A7A;
@text-color: @darkest_gray;

/*time line*/
@azzurro: rgb(95,200,214);
@bianco: #ffffff;
@rosso-mattone: rgb(150,69,55);
@grey-mid-light: #cccccc;

@input_focus: @light_gold;
@input_error: @red;
@input_valid: #A9CD8F;
@input_shadow: rgba(0, 0, 0, .075);

@btn_primary: @gold;
@btn_primary_hover: @dark_gold;
@btn_shadow: rgba(0, 0, 0, .8);

@tooltip_background: @water;